# Loading data

In [109]:
# Reading in the initial data

import pandas as pd
import matplotlib as plt

weather = pd.read_csv("local_weather.csv", index_col="DATE")

In [77]:
#weather.info()

In [78]:
weather.shape

(16859, 35)

In [79]:
weather.columns

Index(['STATION', 'NAME', 'ACMH', 'ACSH', 'AWND', 'DAPR', 'FMTM', 'FRGT',
       'MDPR', 'PGTM', 'PRCP', 'SNOW', 'SNWD', 'TAVG', 'TMAX', 'TMIN', 'TSUN',
       'WDF1', 'WDF2', 'WDF5', 'WDFG', 'WSF1', 'WSF2', 'WSF5', 'WSFG', 'WT01',
       'WT02', 'WT03', 'WT04', 'WT05', 'WT07', 'WT08', 'WT09', 'WT16', 'WT18'],
      dtype='object')

In [80]:
weather.describe()

,ACMH,ACSH,AWND,DAPR,FMTM,FRGT,MDPR,PGTM,PRCP,SNOW,...,WT01,WT02,WT03,WT04,WT05,WT07,WT08,WT09,WT16,WT18
count,5844.000000,5844.000000,8051.000000,8.000000,2190.000000,2.000000,8.000000,8512.000000,16578.00000,11380.000000,...,3710.0,333.0,119.0,4.0,28.0,2.0,3197.0,2.0,1955.0,3.0
mean,46.741958,47.920945,8.224062,2.875000,1496.210046,28.500000,0.881250,1440.854558,0.04774,0.000088,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
std,32.671478,35.367171,3.455627,0.353553,474.501005,40.305087,0.628023,497.244264,0.18704,0.009374,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.050000,0.000000,0.00000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
25%,20.000000,20.000000,5.590000,3.000000,1403.000000,14.250000,0.475000,1321.000000,0.00000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
50%,50.000000,50.000000,8.050000,3.000000,1552.000000,28.500000,0.970000,1530.000000,0.00000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
75%,70.000000,80.000000,10.290000,3.000000,1738.000000,42.750000,1.125000,1724.000000,0.00000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
max,100.000000,100.000000,24.830000,3.000000,2359.000000,57.000000,2.040000,2359.000000,4.53000,1.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

PRCP - total precipitation
TMAX - maximum daily temperature
TMIN — minimum daily temperature
SNOW — the total daily snowfall
SNWD — total snow depth on the ground

# Cleaning Data

In [81]:
weather_copy = weather[['PRCP','SNOW','SNWD','TMAX','TMIN']]

In [82]:
weather_copy.describe()

              PRCP          SNOW     SNWD          TMAX          TMIN
count  16578.00000  11380.000000  11504.0  16850.000000  16849.000000
mean       0.04774      0.000088      0.0     65.675668     50.431539
std        0.18704      0.009374      0.0      8.382314      6.739899
min        0.00000      0.000000      0.0     38.000000      1.000000
25%        0.00000      0.000000      0.0     60.000000     46.000000
50%        0.00000      0.000000      0.0     65.000000     51.000000
75%        0.00000      0.000000      0.0     71.000000     56.000000
max        4.53000      1.000000      0.0    122.000000     69.000000

In [83]:
weather_copy.apply(pd.isnull).sum()/weather_copy.shape[0]

PRCP    0.016668
SNOW    0.324990
SNWD    0.317634
TMAX    0.000534
TMIN    0.000593
dtype: float64

In [84]:
weather_copy.columns = ['precip', 'snow','snow_depth','temp_max','temp_min']

In [92]:
weather_copy

            precip  temp_max  temp_min
DATE
1960-01-01     0.0      49.0      30.0
1960-01-02     0.0      49.0      29.0
1960-01-03     0.0      54.0      35.0
1960-01-04     0.0      54.0      36.0
1960-01-05     0.0      55.0      33.0
...            ...       ...       ...
2022-01-24     0.0      60.0      39.0
2022-01-25     0.0      57.0      43.0
2022-01-26     0.0      57.0      41.0
2022-01-27     0.0      67.0      39.0
2022-01-28     0.0      64.0      39.0

[16859 rows x 3 columns]

In [86]:
weather_copy['snow'].value_counts()

0.0    11379
1.0        1
Name: snow, dtype: int64

In [87]:
weather_copy['snow_depth'].value_counts()

0.0    11504
Name: snow_depth, dtype: int64

In [88]:
weather_copy.precip.value_counts()

0.00    13664
0.01      438
0.02      199
0.03      122
0.04      102
        ...
1.19        1
1.88        1
2.39        1
1.59        1
2.37        1
Name: precip, Length: 176, dtype: int64

In [90]:
del weather_copy['snow']
del weather_copy['snow_depth']

In [89]:
weather_copy[weather_copy.precip.apply(pd.isnull)]

            precip  snow  snow_depth  temp_max  temp_min
DATE
1983-10-29     NaN   0.0         0.0      67.0      57.0
1983-10-30     NaN   0.0         0.0      70.0      63.0
1983-10-31     NaN   0.0         0.0      69.0      61.0
1983-11-12     NaN   0.0         0.0      63.0      55.0
1983-11-13     NaN   0.0         0.0      60.0      50.0
...            ...   ...         ...       ...       ...
2013-12-15     NaN   NaN         NaN      58.0      33.0
2016-05-01     NaN   NaN         NaN      80.0      55.0
2016-05-02     NaN   NaN         NaN      68.0      53.0
2016-05-08     NaN   NaN         NaN      67.0      56.0
2017-10-28     NaN   NaN         NaN      68.0      50.0

[281 rows x 5 columns]

In [91]:
weather_copy.precip = weather_copy.precip.fillna(0)
weather_copy

/dataquest/system/env/python3/lib/python3.8/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

            precip  temp_max  temp_min
DATE
1960-01-01     0.0      49.0      30.0
1960-01-02     0.0      49.0      29.0
1960-01-03     0.0      54.0      35.0
1960-01-04     0.0      54.0      36.0
1960-01-05     0.0      55.0      33.0
...            ...       ...       ...
2022-01-24     0.0      60.0      39.0
2022-01-25     0.0      57.0      43.0
2022-01-26     0.0      57.0      41.0
2022-01-27     0.0      67.0      39.0
2022-01-28     0.0      64.0      39.0

[16859 rows x 3 columns]

In [93]:
weather_copy[weather_copy.temp_max.apply(pd.isnull)]

            precip  temp_max  temp_min
DATE
2004-11-20     0.0       NaN       NaN
2013-06-16     0.0       NaN       NaN
2019-04-18     0.0       NaN      50.0
2019-04-21     0.0       NaN      52.0
2019-04-22     0.0       NaN      50.0
2020-08-29     0.0       NaN       NaN
2020-09-08     0.0       NaN       NaN
2020-09-09     0.0       NaN       NaN
2021-10-31     0.0       NaN      56.0

In [94]:
weather_copy = weather_copy.fillna(method = 'ffill')

In [101]:
weather_copy.apply(pd.isnull).sum()/weather_copy.shape[0]

precip      0.0
temp_max    0.0
temp_min    0.0
dtype: float64

In [102]:
weather_copy.dtypes

precip      float64
temp_max    float64
temp_min    float64
dtype: object

In [103]:
weather_copy.index

Index(['1960-01-01', '1960-01-02', '1960-01-03', '1960-01-04', '1960-01-05',
       '1960-01-06', '1960-01-07', '1960-01-08', '1960-01-09', '1960-01-10',
       ...
       '2022-01-19', '2022-01-20', '2022-01-21', '2022-01-22', '2022-01-23',
       '2022-01-24', '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28'],
      dtype='object', name='DATE', length=16859)

In [105]:
weather_copy.index = pd.to_datetime(weather_copy.index)

In [106]:
weather_copy.index.year

Int64Index([1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960,
            ...
            2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022],
           dtype='int64', name='DATE', length=16859)

In [107]:
# 9999 are missing data
weather_copy.apply(lambda x: (x == 9999).sum())

precip      0
temp_max    0
temp_min    0
dtype: int64

# Data Analysis

In [112]:
weather_copy[['temp_max', 'temp_min']].plot()

In [114]:
weather_copy.index.year.value_counts().sort_index()

1960    366
1961    365
1962    365
1963    365
1964    366
1965    365
1966    365
1967    365
1968    366
1969    365
1970    365
1971    365
1972    366
1973    365
1974    365
1975    365
1976    366
1977    365
1978    365
1979    365
1980    366
1983    184
1984    366
1985    365
1986    212
2000    365
2001    365
2002    365
2003    365
2004    366
2005    365
2006    365
2007    365
2008    366
2009    365
2010    365
2011    365
2012    365
2013    365
2014    365
2015    365
2016    366
2017    365
2018    365
2019    365
2020    366
2021    364
2022     28
Name: DATE, dtype: int64

In [115]:
weather_copy['precip'].plot()

In [118]:
weather_copy.groupby(weather_copy.index.year).sum()['precip']

DATE
1960    14.01
1961    13.87
1962    22.47
1963    19.11
1964    16.83
1965    16.32
1966    13.11
1967    23.98
1968    17.19
1969    25.70
1970    25.31
1971    10.61
1972    16.27
1973    29.37
1974    16.87
1975    17.54
1976     8.64
1977    11.70
1978    22.57
1979    23.79
1980    13.58
1983     7.13
1984    16.03
1985     8.50
1986     0.00
2000    21.09
2001    22.84
2002    19.12
2003    11.37
2004    12.97
2005    27.37
2006    22.79
2007    12.79
2008    13.86
2009    14.57
2010    22.67
2011    16.06
2012    22.93
2013     4.89
2014    19.62
2015     8.58
2016    19.77
2017    23.34
2018    16.82
2019    20.00
2020     6.42
2021    20.82
2022     0.25
Name: precip, dtype: float64

# Model training

## Regression

In [121]:
weather_copy['target'] = weather_copy.shift(-1)['temp_max']

In [122]:
weather_copy

            precip  temp_max  temp_min  target
DATE
1960-01-01     0.0      49.0      30.0    49.0
1960-01-02     0.0      49.0      29.0    54.0
1960-01-03     0.0      54.0      35.0    54.0
1960-01-04     0.0      54.0      36.0    55.0
1960-01-05     0.0      55.0      33.0    53.0
...            ...       ...       ...     ...
2022-01-24     0.0      60.0      39.0    57.0
2022-01-25     0.0      57.0      43.0    57.0
2022-01-26     0.0      57.0      41.0    67.0
2022-01-27     0.0      67.0      39.0    64.0
2022-01-28     0.0      64.0      39.0     NaN

[16859 rows x 4 columns]

In [124]:
weather_copy = weather_copy.iloc[:-1,:].copy()

In [125]:
weather_copy

            precip  temp_max  temp_min  target
DATE
1960-01-01     0.0      49.0      30.0    49.0
1960-01-02     0.0      49.0      29.0    54.0
1960-01-03     0.0      54.0      35.0    54.0
1960-01-04     0.0      54.0      36.0    55.0
1960-01-05     0.0      55.0      33.0    53.0
...            ...       ...       ...     ...
2022-01-23     0.0      60.0      41.0    60.0
2022-01-24     0.0      60.0      39.0    57.0
2022-01-25     0.0      57.0      43.0    57.0
2022-01-26     0.0      57.0      41.0    67.0
2022-01-27     0.0      67.0      39.0    64.0

[16858 rows x 4 columns]

In [136]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha = 0.1)

In [137]:
predictors = ['precip', 'temp_max','temp_min']

In [138]:
train = weather_copy.loc[:'2020-12-31']

In [139]:
test = weather_copy.loc['2021-01-01':]

In [140]:
reg.fit(train[predictors], train['target'])

Ridge(alpha=0.1)

In [141]:
predictions = reg.predict(test[predictors])

In [142]:
from sklearn.metrics import mean_absolute_error

In [144]:
mean_absolute_error(test['target'], predictions)

3.4111699434528306

In [153]:
combined = pd.concat([test['target'], pd.Series(predictions, index =test.index)], axis =1)

In [159]:
combined.columns =['actual','predictions']
combined

            actual  predictions
DATE
2021-01-01    57.0    59.806024
2021-01-02    56.0    59.310181
2021-01-03    62.0    58.538685
2021-01-04    59.0    61.531814
2021-01-05    59.0    59.444266
...            ...          ...
2022-01-23    60.0    59.985714
2022-01-24    57.0    59.626333
2022-01-25    57.0    58.181680
2022-01-26    67.0    57.822299
2022-01-27    64.0    64.674302

[391 rows x 2 columns]

In [160]:
combined.plot()

In [161]:
reg.coef_

array([-2.20730384,  0.72113834,  0.17969047])

In [192]:
def create_predictions(predictors, weather_copy, reg):
    train = weather_copy.loc[:'2020-12-31']
    test = weather_copy.loc['2021-01-01':]
    reg.fit(train[predictors], train['target'])
    predictions = reg.predict(test[predictors])
    error = mean_absolute_error(test['target'], predictions)
    combined = pd.concat([test['target'], pd.Series(predictions, index =test.index)], axis =1)
    combined.columns =['actual','predictions']
    return error, combined

In [184]:
weather_copy['month_max'] = weather_copy['temp_max'].rolling(30).mean()

In [185]:
weather_copy

,precip,temp_max,temp_min,target,month_max,month_day_max,max_min
DATE,,,,,,,
1960-04-24,0.00,61.0,40.0,64.0,NaN,1.082514,1.525000
1960-04-25,0.00,64.0,48.0,59.0,NaN,1.032292,1.333333
1960-04-26,0.40,59.0,45.0,60.0,NaN,1.116949,1.311111
1960-04-27,0.19,60.0,48.0,61.0,NaN,1.097778,1.250000
1960-04-28,0.00,61.0,47.0,64.0,NaN,1.077596,1.297872
...,...,...,...,...,...,...,...
2022-01-23,0.00,60.0,41.0,60.0,56.900000,0.948333,1.463415
2022-01-24,0.00,60.0,39.0,57.0,57.066667,0.951111,1.538462
2022-01-25,0.00,57.0,43.0,57.0,57.200000,1.003509,1.325581
2022-01-26,0.00,57.0,41.0,67.0,57.400000,1.007018,1.390244
2022-01-27,0.00,67.0,39.0,64.0,57.933333,0.864677,1.717949

In [186]:
weather_copy['month_day_max'] = weather_copy['month_max'] / weather_copy['temp_max']

In [187]:
weather_copy['max_min'] = weather_copy['temp_max'] / weather_copy['temp_min']

In [188]:
predictors = ['precip','temp_max','temp_min','month_max','month_day_max','max_min']

In [189]:
weather_copy = weather_copy.iloc[38:,:].copy()

In [193]:
error, combined = create_predictions(predictors, weather_copy, reg)

In [194]:
error

3.359802794856619

In [195]:
combined.plot()